<div class="box">
    <div class="sign-up">
        <h1 class="sign-up__heading">Sign up</h1>
        <form [formGroup]='signUp' (ngSubmit)=do(signUp.value)>
            <div class="input-wrapper">
                <input type="text" class='input' formControlName='name'>
            </div>
            <div class="input-wrapper">
                <input type="text" class='input' formControlName='surname'>
            </div>
            <div class="input-wrapper">
                <input type="email" class='input' formControlName='email'>
            </div>
            <div class="input-wrapper">
                <input type="password" class='input' formControlName='password'>
            </div>
            <button type="submit">Sign up</button>
        </form>
    </div>
</div>